<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- component：组成，构成 -->
    <context:component-scan base-package="com.zhiyou100"/>
   
    <!-- 加载 db.properties 中的内容 -->
     <context:property-placeholder location="classpath:db/db.properties" />
     <!-- c3p0 数据库连接池-->
     <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
          <property name="driverClass" value="${driverClass}"></property>
          <property name="jdbcUrl" value="${jdbcUrl}"></property>
          <property name="user" value="${jdbc.user}"></property>
          <property name="password" value="${password}"></property>
     </bean>
     <!-- 配置SqlSessionFactoryBean 对象 -->
     <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
          <!-- 注入数据源 -->
          <property name="dataSource" ref="dataSource"></property>
          <!-- 设置mybatis 对象 -->
          <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
          <!-- 设置mapper 文件的路径 -->
          <property name="mapperLocations" value="classpath*:mybatis/*Mapper.xml" />
     </bean>
     
     
     <!-- 把Dao 接口的实现类注入到Spring 容器中 ，通过名字获取对象-->
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
          <!-- 把dao 包下interface 的实现类注入到Spring 容器中 -->
          <property name="basePackage" value="com.zhiyou100.dao"></property>
     </bean>
</beans>
